.header {
  background-color: rgb(103, 162, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-bottom: 8px;
  border-bottom: 1px solid #25b6f5;
  padding: 8px 2px;
}


